*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* nav */

.nav{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 3.5fr 1fr 1fr 1fr 1fr 1fr ;
   /* align-content: center;
   justify-content: center; */
   background-color: white;
   gap: 0.5rem;
    padding: 0rem 0.7rem;
    overflow: none;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0px;
z-index: 5;
    /* height: 10vh; */
}

.more{
    display: none;
}

#ph-bg-search{
    position: relative;
    outline: none;
    width: 80%;
    height: 5.5vh;
    border: 0.5px solid gray;
    border-radius: 20px;
    background-image: url('../img/search1.webp');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 12% 30%;
    padding-left: 2.5rem;
    /* z-index: 0; */
}

.a-icon{
    position: absolute;
    right: 20px;
}

.click-dropdown{
    display: none;
    width: 22%;
    position: absolute;
    top: 50px;
    /* left: 0px; */
    padding-left: 2rem;
    /* border: 1px solid red; */
    border-radius: 20px;
    padding-top: 0.5rem;
    background-color: white;
    z-index: 1;
   
}

.click-dropdown span{
    display: block;
}

.click-dropdown .one{
    text-transform: uppercase;
    font-size: 1vw;
    color: rgba(0, 0, 0, 0.4);
}

.click-dropdown .two{
    font-size: 2vw;
    text-transform: capitalize;
}

.dnone{
    display: none;
    margin-right: 3rem;
}

.nav .logo{
    font-weight: bold;
    font-size: 2vw;
}

.nav span{
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

/* 
.left div{
    display: inline;
} */

.e-bar{
   text-decoration: overline;
  
}

.loginn{
    padding: 10px;
    border: 0.3px solid gray;
    border-radius: 20px;
    text-align: center;
    /* width: 80%; */

}

.signupn{
    background-color: blue;
    color: white;
    padding: 12px;
    border-radius: 20px;
    text-align: center;
    /* width: 100%; */
    /* margin-left: 2rem; */
}

.adobe-icon{
    background-color: black;
    color: white;
    padding: 0.2rem;
}

.dshow:hover{
    padding-bottom: 1rem;
    width: 60%;
 border-bottom: 2px solid black;

}

/* secttion1 */
.section1{
    display: grid;
    grid-template-columns: 10% 90%;
    margin: 6.5rem 1rem 0rem 1rem ;
    /* margin: 0.3rem 1rem; */
}


.flex-blocks{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.b-img{
    margin-left: 0.1rem;
    width: 60px;
    height: 60px;
    border-radius: 100%;
   background-image: url('../img/animal1.jpg');
   background-repeat: no-repeat;
   /* background-size: 10%; */
   background-position: center center;
   background-size: 100% 100%;
}

.follow{
    background-color: blue;
    color: white;
    padding: 0.5rem 0.7rem;
    border-radius: 40px;
}

.round{
    border: 1px solid black;
    padding: 0.7rem;
    border-radius: 20px;
}

.star{
    background-color: black;
    color: white;
    padding: 0.3rem;
    border-radius: 20px;
}

.block p{
    margin-bottom: 0.5rem;
}

hr{
    margin: 1rem 0rem;
}

/* section 2 */
.section2{
    width: 100%;
    height: 100vh;
    background-image: url('../img/nft-gallery.png');
    border: 1rem solid black;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* section 3 */

.section3{
    background-color: black;
    margin: 3rem 0rem;
}

.container{
    width: 80%;
    margin: auto;
    padding: 00.1rem;
}

.nav1 div{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 0.2rem;
}

.nav1 a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.8vw;
}

.nav1 .box a{
    font-size: 1vw;
    align-self: center;
}

.nav1 .logo a{
    flex-grow: 0.3;
}

.nav1 .box{
    margin-right: 0.5rem;
}

.nav1 .wallet {
   background-color: blue;
   border-radius: 8px;
   /* margin: 0rem 2rem 0rem 10rem; */
}

.nav1 .set2 a{
    font-size: 1.2rem;
    padding: 0.5rem
}

.nav1 .set2 div{
    margin-right: 1rem;
}

.nav1 .login{
   margin-right: 1rem;
   border: 1px solid white;
   border-radius: 8px;
}

/* section 4 */

.section4{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: space-between;
    color: white;
    margin-top: 3rem;
    margin-bottom: 3rem;
height: 50vh;
}

.section4 .box2 .items1{
   width: 100%;
   height: 40vh;
   position: absolute;
   background-image: url('../img/nft9.jpg');

   background-repeat: no-repeat;
   background-size: 60%;
   background-position: top center;
   background-color: rgb(10, 10, 10,0);
   /* backface-visibility: hidden; */
 
z-index: 2;
/* border: 1px solid red; */

}

.section4 .box2{
    position: relative;
    margin-top: 2rem;
   
/* border: 1px solid red; */
}

.section4 .box2 .items2{
    background-color: purple;
    width: 180px;
    height: 150px;
    border-radius: 10px;
    position: absolute;
    top: -50px;
    right: 150px;
    z-index: 1;
    transform: rotate(55deg);
}


.section4 .box1 .one{
    font-size: 3.5vw;
    text-transform: capitalize;
    font-weight: bold;
}

.section4 .box1 .three{
    font-size: 3vw; 
    font-weight: bold;
    /* border: 1px solid red; */
    color: black;
    text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white;
     text-transform: uppercase;

}

canvas{
    background-color: wheat;
}

.section4 .box1 .two{
    font-size: 3.5vw;
    font-weight: bold;
    text-transform: capitalize;
}

.section4 .small{
    font-size: 1vw;
    margin: 0.5rem 0rem;
}

.section4 .explore{
    background-color: blue;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
  

}

.section4 .upload{
    border: 1px solid white;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    border-radius: 8px;
   
}

.section4 a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

.section4 .btns{
    margin-top: 2rem;

}

/* section 5 */

.section5{
    margin-top: 3rem;
    color: white;
}

.section5 .box1{
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.section5 .explore{
    font-size: 2vw;
    text-transform: capitalize;
}

.section5 .wallet{
    color: green;
    background-color: rgb(240, 230, 230, 0.3);
    border-radius: 6px;
    padding: 0.4rem 0.8rem;

}

.section5 .box2{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    padding: 2rem;
}

.section5 .box2 .item .img{
    width: 100px;
    height: 100px;
    margin: auto;
    background-image: url('../img/nft6.jpg');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center center;
   
}

.section5 .item{
    align-content: center;
    justify-content: center;
    background-color: rgb(72, 81, 83, 0.2);
    text-align: center;

}

.section5 .item .disc{
    margin-bottom: 1rem;
}

/* section 6  */

.section6{
    color: white;
    margin-top: 3rem;
   z-index: 1;
}

.section6 .box1{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.section6 .categories h3{
    text-transform: capitalize;
    font-size: 2vw;
}

.section6 .next .one{
    background-color: rgb(172, 167, 167, 0.1);
    padding: 0.4rem;
    font-size: 1.5vw;

}
.section6 .next .two{
    background-color: rgb(172, 167, 167, 0.3);
    padding: 0.4rem;
    margin-left: 1rem;
    font-size: 1.5vw;
}

.section6 .box2{
    margin-top: 2rem;
}

.section6 .card{
    position: relative;
    border: 1px solid rgb(231, 5, 5,0.3);
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 3rem;
    /* overflow: hidden; */
    /* z-index: 0; */
}

.section6 .box2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    justify-content: space-between;
    gap: 1rem;
}

.section6 .card .img{
    position: relative;
    width: 150px;
    height: 150px;
    margin: auto;
    background-image: url('../img/nft2.png');
    background-repeat: no-repeat;
    /* background-position: center center; */
    background-size: contain;
    border-radius: 6px;
    padding: 0.5rem;
    overflow: hidden;
}

.section6 .card .line1, .line2{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.section6 .card .line1,.line2 span{
   padding: 0.2rem;
   font-size: 0.5rem;
}

.section6 .card .vol{
    width: 90%;
    margin: auto;
    position: absolute;
    bottom: 5px;
    background-color: rgb(59, 68, 71,0.5);
    padding: 0.5rem;
    /* z-index: 1; */
}

.section6 .card .loveEmoji{
    color: white;
    position: absolute;
    right: 10px;
    font-size: 0.8vw;
    border: 1px solid white;
    padding: 0.3rem;
    background-color:rgb(88, 102, 107,0.3);
    border-radius: 8px;
}

.section6 .card .stocks{
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 1.5rem;

}

.section6 .card .heart-shadow{
    color: black;
    text-shadow: 1px -1px 0px white, 1px 1px 0px white, -1px 1px 0px white, -1px -1px 0px white;
}

.section6 .card .heart-shadow:hover{
    color: red;
}

.section6 .card .bid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 0.5rem;
    margin-top: 1.5rem;
   /* padding: 0.5rem; */
   /* border: 1px solid red; */
   margin-bottom: 2rem;
}

.section6 .card .img1{
    border: 1px solid green;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin: auto;
    background-image: url('../img/nft4.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;

}

.section6 .card .bid p{
    font-size: 0.7vw;
}

.section6 .card .place{
    position: absolute;
    bottom: -18px;
    right: 35px;
    background-color: blueviolet;
    color: white;
    width: 70%;
    margin: auto;
    text-align: center;
     padding: 0.5rem;
     border-radius: 8px;
     z-index: 1;
}

.section6 .card .place a{
    color: white;
   text-decoration: none;
  
}

/* section 7 */

.section7 .box-1 .next2{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
}

.section7 .next2 span{
    border: 1px solid rgb(241, 8, 8,0.2);
    text-align: center;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 0.7vw;
}

/* section 8 */

.section8{
    color: white;
}

.section8 h1{
    text-transform: capitalize;
    /* margin: 2rem 0rem; */
}

.section8 .box1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.section8 .steps .img{
    width: 90px;
    height: 60px;
    background-image: url('../img/nft8.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;
    /* border-radius: 20px; */
    margin-bottom: 1rem;
    /* border: 1px solid red; */
    padding: 1.5rem;
    background-color: rgb(61, 77, 82,0.2);
}

.section8 .steps{
    border: 1px solid rgb(240, 205, 8,0.2);
padding: 1rem;
}


.section8 .steps p{
    font-size: 0.6vw;
    margin-top: 1rem;
}

/* section 9 */
.section9{
    color: white;
    margin-top: 3rem;
}

.section9 .box1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}

.section9 .box1 .seller{
display: flex;
align-content: center;
justify-content: space-between;
border-radius: 8px;
background-color: rgb(9, 9, 100,0.1);
}

.section9 .seller p{
    padding: 0.5rem;
}

.section9 .seller .img{
    background-image: url('../img/nft5.jpg');
    width: 60px;
    height: 60px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    border-radius: 40px;
   
}

.section9 .seller:nth-child(1){
 border: 1px solid rgb(145, 22, 22,0.4);

}

.section9 .seller p{
    font-size: 1vw;
}

/* section 10 */
.section10{
    color: white;
    display: grid;
    grid-template-columns: 60% 40%;
    gap:  1rem;
    margin-top: 10rem;
    position: relative;
}

.section10 .box1a{
    height: 50vh;
    /* border: 1px solid green; */
    padding: 1rem;
}
.section10 .box2a{
    height: 40vh;
    /* border: 1px solid green; */
    padding: 1rem;
}

.section10 .down{
    margin-top: 2rem;
}

.section10 .box2a h1{
    width: 50%;
    margin: 1rem 0rem;
    font-size: 2vw;
}

.section10 .box2a p{
    font-size: 1vw;
}

.section10 .box2a span{
    background-color: blue;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

/* first image float */
.section10 .box1a .float1{
    width: 150px;
    height: 150px;
    background-color:coral;
    border-radius: 5px;
    position: relative;
    z-index: 0;
    position: absolute;
    top: -70px;
    left: 100px;
}

.section10 .float1 .img{
    width: 60px;
    height: 60px;
 background-image: url('../img/nft3.png');
background-repeat: no-repeat;
background-size: cover;
border-radius: 30px;
z-index: 1;;
position: absolute;
right: -25px;
bottom: -25px;
}
/* second image float */
.section10 .box1a .float2{
    width: 130px;
    height: 130px;
    background-color:gray;
    border-radius: 5px;
    position: relative;
    z-index: 0;
    position: absolute;
    top: 50px;
    left: 300px;
}

.section10 .float2 .img{
    width: 60px;
    height: 60px;
 background-image: url('../img/nft3.png');
background-repeat: no-repeat;
background-size: cover;
border-radius: 30px;
z-index: 1;
position: absolute;
right: -25px;
bottom: -25px;
}

/* float image 3 */
.section10 .box1a .float3{
    width: 120px;
    height: 120px;
    background-color:red;
    border-radius: 5px;
    position: relative;
    z-index: 0;
    position: absolute;
    top: 120px;
    left: 150px;
}

.section10 .float3 .img{
    width: 60px;
    height: 60px;
 background-image: url('../img/nft3.png');
background-repeat: no-repeat;
background-size: cover;
border-radius: 30px;
z-index: 1;
position: absolute;
right: -25px;
bottom: -25px;
}
/* section 11 */
.section11{
    color: white;
    background-color: rgb(18, 18, 73,0.5);
    margin-top: 3rem;
   
}

.section11 .boxx{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 3fr;
    gap: 0.5rem;
    padding: 1.5rem;
}

.section11 .footer{
    padding: 1.5rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.section11 .footer .purple{
    color: purple;
}

.section11 .footer span{
    font-size: 0.5vw;
}

.section11 hr{
    color: lightslategray;
}